{% extends "_layout.html" %}
{% block content %}
<div class="mainBlock">
    <div class="defText">
        <span style="text-align:center"><p><h1><b>Об авторе</b></h1></p></span>
    </div>
    <div>
        <div style="display: flex;">
            <div class="regText appearance">
                Мое имя - Тимур, родился в городе Братск, прожил там до 2014 года, начал увлекаться <a class="hLink" href="/glossarium#animeAnch">аниме</a> в конце 2020 года.<br>До просмотра Баскетбол Куроко любительски занимался баскетболом, найти централизованные секции по этому виду спорта у меня не удавалось, поэтому всему пришлось учиться самому.<br>После просмотра этого <a class="hLink" href="/glossarium#animeAnch">аниме</a> вновь появилилась любовь к баскетболу, в последнее время все чаще думаю возобновить тренировки.<br>Мои контактные данные:<br>ВК - <a class="hLink" href="https://vk.com/chouwa_seigyo">@chouwa_seigyo</a><br> Телеграм - <a class="hLink" href="https://t.me/chouwa_seigyo">@chouwa_seigyo</a>
            </div>
            <div style="flex-direction: column;">
                <div class="roundMinePic">
                    <img class="characterPic" src="/static/images/me.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}