{% extends "_layout.html" %}
{% block content %}
<div class="mainBlock">
    <div class="defText">
        <span style="text-align:center"><p><h1><b>Глоссарий</b></h1></p></span>
    </div>
    <div class="glosHead" id= "animeAnch">Аниме</div>
    <div class="regText">Рисованная и компьютерная анимация, происходящая из Японии</div><br>
    <div class="glosHead" id= "mangaAnch">Манга</div>
    <div class="regText">Комиксы или графические романы, происходящие из Японии</div><br>
    <div class="glosHead" id= "novelAnch">Лайт-новелла</div>
    <div class="regText">Японские романы с иллюстрациями, основная целевая аудитория которых — подростки и молодёжь</div><br>
    <div class="glosHead" id= "shJumpAnch">Shonen Jump</div>
    <div class="regText">Еженедельный японский журнал манги</div><br>
    <div class="glosHead" id= "pasAnch">Пас</div>
    <div class="regText">Нацеленная передача мяча от одного игрока одной команды другому игроку той же команды</div><br>
    <div class="glosHead" id= "dunkAnch">Данк</div>
    <div class="regText">Вид броска в баскетболе, при котором игрок выпрыгивает вверх и одной или двумя руками бросает мяч сквозь кольцо сверху вниз.</div><br>
    <div class="glosHead" id= "shieldAnch">Баскетбольный щит</div>
    <div class="regText">Спортивный инвентарь, используемый в баскетболе. Он представляет собой прямоугольную или квадратную панель с закреплённым на ней баскетбольным кольцом</div><br>
    <div class="glosHead" id= "floatAnch">Парящий бросок Ханамии</div>
    <div class="regText">Вместо обычного атакующего прыжка внутри зоны, Ханамия немного отпрыгивает от защитников и, находясь в полете, забрасывает мяч в кольцо всего одной рукой</div><br>
    <div class="glosHead" id= "zoneAnch">Зона</div>
    <div class="regText">Потоковое состояние игрока, который достигает своего максимального потенциала. Войти в него можно лишь имея сильную любовь к баскетболу</div><br>
    <div class="glosHead" id= "seirinAnch">Сейрин</div>
    <div class="regText">Старшая Школа в городе Токио</div><br>
    <div class="glosHead" id= "teikoAnch">Тейко</div>
    <div class="regText">Старшая Школа в Токио. Их баскетбольный клуб исключительно силён и имеет в своём составе более чем 100 участников</div><br>
    <div class="glosHead" id= "yosenAnch">Йосен</div>
    <div class="regText">Элитная частная школа в префектуре Акита</div><br>
    <div class="glosHead" id= "shutokuAnch">Шутоку</div>
    <div class="regText">Старшая Школа в префектуре Токио</div><br>
    <div class="glosHead" id= "kirisakiAnch">Кирисаки Даичи</div>
    <div class="regText">Старшая школа из Токио, баскетбольная команда которой стабильно находится в лучшей восьмёрке команд города</div><br>
    <div class="glosHead" id= "wintCupAnch">Зимний кубок</div>
    <div class="regText">Национальный баскетбольный чемпионат среди Старших Школ, который проходит в зимний период в Токийском дворце спорта</div><br>
    <div class="glosHead" id= "miracleGenAnch">Поколение чудес</div>
    <div class="regText">Звездная команда Средней Школы Тейко. Команда из 5 (а точнее 6) игроков, каждый из которых владеет своим собственным незаурядным и исключительным талантом</div><br>
</div>
{% endblock %}